p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: wheat;
}

h2{
    color: lightpink;
    text-align: center;
    background-color: blanchedalmond;
}

body {
    text-align: center !important;
    background-color: blanchedalmond !important;
}


ul{
    text-align: left;
    color: lightsalmon; 
}

li{
    text-align: left;
    font-size: x-large;
}


#top{
    text-align:center;
    background-color: blanchedalmond;
}









